<%- include('./partials/head') %>

    <main>
        <h1><%= category.name %> Posts</h1>
        <ul>
            <% posts.forEach(post => { %>
                <li>
                    <a href="/<%= category.slug %>/<%= post.slug %>"><%= post.title.rendered %></a>
                </li>
            <% }); %>
        </ul>
    </main>

    <%- include('./partials/foot') %>