<%- include('./partials/head') %>

    <main>
        <!-- <section>
            <h2>Categories</h2>
            <ul>
                <% categories.forEach(category=> { %>
                    <li>
                        <a href="/<%= category.slug %>">
                            <%= category.name %>
                        </a>
                    </li>
                    <% }); %>
            </ul>
        </section> -->

        <h2>Posts</h2>
        <section class="grid-container">
            <% posts.forEach(post => { %>
                
                <% post.categories.forEach(function(categoryId, index) { %>
                    <% if (index === 0) { %>
                        <% const category = categories.find(category => category.id === categoryId); %>
                        <% if (category) { %>
                            <a href="<%= category.slug %>/<%= post.id %>" class="article-link"> <!-- Not working correctly-->
                        <% } %>
                    <% } %>
                <% }); %>
                    <article class="article">
                        <img src="<%= post.jetpack_featured_media_url %>" alt="Post Image">
                        <h3>
                            <% 
                            // Processing post title to remove HTML tags and entities
                            var renderedContent = post.title.rendered; 
                            var post_title = renderedContent.replace(/(<([^>]+)>)/gi, "");
                            post_title = post_title.replace(/&#[0-9]+;/g, function(entity) {
                                return String.fromCharCode(entity.substring(2, entity.length - 1));
                            });
                            %>
                            <%= post_title %>
                        </h3>
                        <span><b><%= post.yoast_head_json.author %></b> | <%= post.yoast_head_json.twitter_misc["Geschatte leestijd"] %></span>
                    </article>
                </a>
            <% }); %>
        </section>
        
        
    </main>

    <%- include('./partials/foot') %>