<%- include('./partials/head') %>

    <main>
        <section>
            <h2>
                <span class="category">
                    <% post.categories.forEach(function(categoryId, index) { %>
                        <% const category=categories.find(category=> category.id === categoryId); %>
                            <% if (category) { %>
                            <%= index !==0 ? ' | ' : '' %>
                            <%- category.name %>
                        <% } %>
                    <% }); %>
                </span>
                |
                <%- post.title.rendered %>
            </h2>

            <ul>
                <li class="author">
                    <%= post.yoast_head_json.author %>
                </li>
                <li class="date">
                    <%= post.date_gmt %>
                </li>
                <li class="read-time">
                    <%= post.yoast_head_json.twitter_misc["Geschatte leestijd"] %>
                </li>
            </ul>
            <p>
                <%- post.content.rendered %>
            </p>
            <img src="<%= post.jetpack_featured_media_url %>" class="post-img">
        </section>
    </main>

    <%- include('./partials/foot') %>