<%- include('./partials/head') %>

    <main>
        <section>
            <h2>Posts</h2>
            <h3>
                <% let post_title=post.title.rendered.replace(/(&lt;([^&gt;]+)&gt;)/gi, "" );
                    post_title=post_title.replace(/&#[0-9]+;/g, function(entity) { return
                    String.fromCharCode(entity.substring(2, entity.length - 1)); }); %>
                    <%= post_title %>
            </h3>

            <span>Categories:
                <% post.categories.forEach(function(categoryId, index) { %>
                    <% const category=categories.find(category=> category.id === categoryId); %>
                        <% if (category) { %>
                            <%= index !==0 ? ' | ' : '' %>
                                <%= category.name %>
                                    <% } %>
                                        <% }); %>
            </span>

            <span>Author: <%= post.yoast_head_json.author %></span>
            <span>Reading time: <%= post.yoast_head_json.twitter_misc["Geschatte leestijd"] %></span>
            <p>
                <% let renderedContent=post.content.rendered; let
                    textWithoutHTML=renderedContent.replace(/(&lt;([^&gt;]+)&gt;)/gi, "" );
                    textWithoutHTML=textWithoutHTML.replace(/&#[0-9]+;/g, function(entity) { return
                    String.fromCharCode(entity.substring(2, entity.length - 1)); });
                    textWithoutHTML=textWithoutHTML.replace(/&nbsp;/g, ' ' ); %>
                    <%= textWithoutHTML %>
            </p>
            <h3>image</h3>
            <img src="<%= post.jetpack_featured_media_url %>" alt="">
        </section>
    </main>

    <%- include('./partials/foot') %>