<%- include('./partials/head') %>

    <main>
        <section>
            <h2>Posts</h2>
            <h3>
                <%- post.title.rendered %>

            </h3>

            <span>Categories:
                <% post.categories.forEach(function(categoryId, index) { %>
                    <% const category=categories.find(category=> category.id === categoryId); %>
                        <% if (category) { %>
                            <%= index !==0 ? ' | ' : '' %>
                                <%= category.name %>
                                    <% } %>
                                        <% }); %>
            </span>

            <span>Author: <%= post.yoast_head_json.author %></span>
            <span>Reading time: <%= post.yoast_head_json.twitter_misc["Geschatte leestijd"] %></span>
            <p>
                <%= post.content.rendered %>
            </p>
            <h3>image</h3>
            <img src="<%= post.jetpack_featured_media_url %>" alt="">
        </section>
    </main>

    <%- include('./partials/foot') %>